{% extends 'page.twig' %}

{% block setup %}
/*
$(document).ready(function(){
    $('.button').click(function(){
        var clickBtnValue = $(this).val();
        var ajaxurl = "class/publication.php",
        data =  {'action': clickBtnValue};
        $.post(ajaxurl, data, function (response) {
            // Response div goes here.
            alert("action performed successfully");
        });
    });

});*/

{% endblock %}



{% block header %}
   
{% endblock header %}

{% block main %}

<section class="row">
    <div class="col-md-offset-2 col-md-6">
		<h2>{{ name }}</h2>
		<b>Authors: </b>
		{% for f in authors %}
			{{f}},
		{% endfor %}
	<b>Published: </b>{{ instiname }}
	<br /><br />
	<p>{{textabstract}}</p>
	</div>
		
	
	
	<div class="col-md-4">
	   <!-- TODO USE AJAX 
		{{ url }}-->
		
		<form action="resource" method="GET">
			<input hidden name="path" value="{{url}}" type="text" /> 
			<input type="submit" class="btn btn-primary-outline" value="View Full Text" />
		</form>
    </div>
	
	
</section>

{% endblock main %}


{% block footer %}
   
{% endblock footer %}