{% extends 'page.twig' %}

{% block setup %}
/*
$(document).ready(function(){
    $('.button').click(function(){
        var clickBtnValue = $(this).val();
        var ajaxurl = "class/publication.php",
        data =  {'action': clickBtnValue};
        $.post(ajaxurl, data, function (response) {
            // Response div goes here.
            alert("action performed successfully");
        });
    });

});*/

{% endblock %}



{% block header %}
    <article class="col-md-12">
	<h1 class="center-block">Publication</h1>
    </article>
{% endblock header %}

{% block main %}

<section class="row">
    <div class="col-md-offset-2 col-md-3">
		
	</div>
		
	<div class="col-md-1">
		{{ id }}
	</div>
		
	<div class="col-md-2">
		{{ name }}
	</div>
		
		
    <div class="col-md-1">
	    {{ institution_id }}
	
    </div>
	
	<div class="col-md-2">
	   <!-- TODO USE AJAX 
		{{ url }}-->
		{{url}}
		<form action="resource" method="GET">
			<input hidden name="path" value="{{url}}" type="text" /> 
			<input type="submit" class="button" />
		</form>
    </div>
	
	
</section>

{% endblock main %}


{% block footer %}
    <article class="col-md-12">
        <p class="center-block">Footer</p>
    </article>
{% endblock footer %}