{% extends 'page.twig' %}
{% import 'form.twig' as f %}

{% block scripts %}
	<script>
	var count = 1;
    var max = 5;
	
	var blah = document.getElementById("translate").innerHTML;
	blah.replace(/(\r\n|\n|\r)/g,"");
	
    function addAuthor(divName){
		 if (count == max)  {
			  alert("You have reached the limit of adding " + count + " authors");
		 }
		 else {
		      count++;
			  var newdiv = document.createElement('div');
			  newdiv.innerHTML = blah.replace("REP", count);
			  document.getElementById(divName).appendChild(newdiv);
			 }
			 
	}

	</script>
{% endblock scripts %}


{% block header %}
    <article class="col-md-12">
	<h1 class="center-block">Upload</h1>
    </article>
{% endblock header %}

{% block main %}
<!-- TODO replace this with a file somewhere else and do the /r replacing in a standalone script-->
<form hidden action="#" method="post"><span id="translate"{{f.text({label: 'Author REP', name: 'authorArray[]' , required: 1})}}</span></form>
    <section class="row">
        <div class="col-md-offset-3 col-md-6">
			
			
			<!-- TODO Add option for multiple authors-->
			<form action="#" method="post" enctype="multipart/form-data">
			
					 <div class="form-group">
					  <label for="category">Type of publication to submit:</label>
					  <select class="form-control" name="category">
						<option>Paper</option>
						<option>Data</option>
						<option>Source code</option>
						<option>App</option>
					  </select>
					</div>
					 
					 
					<div id="authors">
					
					    {{f.text({label: 'Author 1', name: 'authorArray[]', required: 1})}}
						
					</div>
					<button type="button" id="foo" value="Add author" onClick="addAuthor('authors');">
					    <i class="fa fa-plus"></i>Add author
					</button>
					
					
					<!--  TODO change to required -->
					
					{{f.text({label: 'Subject', name: 'subject', required: 0})}}
					
					{{f.text({label: 'Institution name: ', name: 'instiname', required: 0})}}
					
					{{f.text({label: 'Institution country', name: 'country', required: 0})}}
					
					{{f.text({label: 'Publication Name', name: 'pubname', required: 0})}}
					
					{{f.textarea({label: 'Abstract', name: 'textabstract', id: 'abs', required: 0})}}
					
					{{f.file({label: 'Add file', name: 'file', required: 1})}}
					
					
				<button type="submit" class="btn btn-primary btn-lg">Update</button>
			</form>
			<h1>{{ success }}</h1>
        </div>
        <div class="col-md-3">
	    <p>2 columns</p>
		<div id="demo">
		
		</div>
		
	</div>
    </section>
{% endblock main %}


{% block footer %}
    <article class="col-md-12">
        <p class="center-block">Footer</p>
    </article>
{% endblock footer %}


